<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Detalle de la oferta de trabajo</h1>
	<h3 th:text="'Nombre:' + ${vacante.nombre}"></h3>
	<h3 th:text="'Fecha publicación:' + ${vacante.fecha}"></h3>
	<h3 th:text="'Salario ofrecido:' + ${vacante.salario}"></h3>	
	<h3 th:text="'Descripcion:' + ${vacante.descripcion}"></h3>
</body>
</html>