<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vacante borrada</title>
</head>
<body>
<h1 th:text="'Vacante con id ' + ${id} + ' eliminada'"></h1>

</body>
</html>