<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de Vacantes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<img th:src="@{/imagenes/jobs-logo-png-6.png}" width="200">
	<h1 class="text-primary">Lista de Vacantes</h1>
	
	<table class="table table-striped table-bordered table-hover">
	  <tr>
	  	<th>Logo</th>
	    <th>Id</th>
	    <th>Nombre</th>
	    <th>Fecha de Publicación</th>
	    <th>Salario Ofrecido</th>
	    <th>Descripcion</th>
	    <th>Destacada</th>
	    <th>Detalle</th>
	    <th>Borrar</th>
	  </tr>
	  
	  <tr th:each="vacante: ${vacantes}">
	  	<td>
	  		<img th:src="@{/imagenes/{img}(img=${vacante.imagen})}" width=100></img>
	  	</td>
	    <td th:text="${vacante.id}"></td>
	    <td th:text="${vacante.nombre}"></td>
	    <td th:text="${vacante.fecha}"></td>
	    <td th:text="${vacante.salario}"></td>
	    <td th:text="${vacante.descripcion}"></td>
		<!-- <td th:text="${vacante.destacado}"></td> -->
		<!--<td th:text="${vacante.destacado == 1 ? 'Si' : 'No'}"></td> -->
		<td>
			<span th:if="${vacante.destacado==1}" class="badge badge-secondary">Si</span>
			<span th:unless="${vacante.destacado==1}" class="badge badge-danger">No</span>		
		</td>
		<td>
			<a th:href="@{/vacantes/view/{id} (id=${vacante.id})}" class="btn btn-success">Detalle</a>
		</td>
		<td>
			<a th:href="@{/vacantes/delete(id=${vacante.id})}" class="btn btn-danger">Borrar</a>
		</td>
	  </tr>

	</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>